@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Arial, Helvetica, sans-serif;
}

.Hero-main{
    background-image: url('./Assets/images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
}
.hero-input::placeholder{
    color: white;
}
.m-download{
    top: -120px;
    left: 27%;
}
.sign-in-main{
    background-image: url('./Assets/images/Sign-in-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sign-in-form, .sign-input{
    background-color: rgba(0, 0, 0, 0.5);
}
.sign-input{
    color: white;
}